.ipynb_checkpoints
.mypy_cache
__pycache__
eval_*/
models/
saved_models/
rewards*.txt
model_weights_a
tmp_eval_video.mp4
tmp_eval_frames
old_checkpoints
backup
final_result
参考实现中的Bug.md
loss.txt
requirements.freezed